@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

$fondo-tecla: hsl(314, 25%, 24%);
$fondo-tecla-hover:rgb(8, 146, 151);

.drum-pad{
    background-color: $fondo-tecla;
    width: 6em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.562);
    border: 1px solid rgb(153, 135, 156);
    cursor: pointer;
    transition: 200ms ease-in;
    &:hover{
        background-color: $fondo-tecla-hover;
        border: none;
    }
    label{
        color: white;
        font-size: 1.7em;
        cursor: pointer;
        font-family: 'Exo 2', sans-serif;
    }
}

.presionado{
    background-color: $fondo-tecla-hover !important;
    border: none;
    box-shadow: none;
}